@font-face {
  font-family: 'Devotee';
  src:
    url('../fonts/Sennaar/Devotee.woff2') format('woff2'),
    url('../fonts/Sennaar/Devotee.woff') format('woff'),
    url('../fonts/Sennaar/Devotee.ttf') format('truetype'),

}


@font-face {
  font-family: 'Skranji';
  src:
    url('../fonts/Skranji/Skranji-Regular.woff2') format('woff2'),
    url('../fonts/Skranji/Skranji-Regular.woff') format('woff'),

}

@font-face {
  font-family: 'Skranji Bold';
  src:
    url('../fonts/Skranji/Skranji-Bold.woff2') format('woff2'),
    url('../fonts/Skranji/Skranji-Bold.woff') format('woff'),
}

body {
  letter-spacing: 0;
  text-align: center;

  margin: 0;

  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;

  /* 禁止鼠标左键选中文本 */
  /* Chrome, Safari, Opera */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* IE 10+ */
  -ms-user-select: none;
  /* 其他浏览器 */
  user-select: none;

  /* 设置背景图片 */
  background-image: url('../img/bg2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  /* 添加白色背景并调整透明度 */
}


h1 {
  padding-top: 20px;

  font-family: 'Skranji Bold';
  color: #EAC83C;
  /* font-weight: normal; */
}

.title {
  font-size: 30px;
  font-family: 'Skranji Bold';
  color: #37203C;
  /* font-weight: bold; */
}

.intro {
  color: #8F0D00;
  font-family: 'Skranji';
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  /* 对整个表格设置圆角 */
  overflow: hidden;
  /* 避免边角溢出 */

  width: 95%;
  table-layout: fixed;

  margin: 0 auto;
  margin-bottom: 20px;
}

th {
  font-family: 'Skranji';
  font-size: 20px;
  font-weight: lighter;

  background-color: #f2f2f2;
}

td {
  font-family: 'Devotee';
  font-size: 30px;
  font-variant-ligatures: normal;
  background-color: #ffffff;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;

  width: auto;
}

.under {
  margin-top: 20px;

  font-size: 10px;
  font-family: 'Skranji';
  color: #ccc;
  
}

.note {
  font-family: 'Skranji';
  font-weight: lighter;
  font-size: 15px;

  margin-right: 2.5%;
  text-align: right;
}

/* 去除超链接的下划线 */
a {
  text-decoration: none;

  color:lightslategrey;
}

/* 扁平风格滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}



/* 移除第一行和最后一行的边框 */
table tr:first-child th,
table tr:first-child td,
table tr:last-child th,
table tr:last-child td {
  border-top: none;
  border-bottom: none;
}

/* 移除第一列和最后一列的边框 */
table tr th:first-child,
table tr td:first-child,
table tr th:last-child,
table tr td:last-child {
  border-left: none;
  border-right: none;
}
